# Tuples

### What is a Tuple?
### Creating Tuples
### Accessing Tuple Elements
### Tuple Operations
### Tuple Methods
### Immutability of Tuples

#### What is a Tuple
- a tuple is a collection of ordered, immutable items. They are similar to lists, but unlike lists, they cannot be changed after their creation.

In [17]:
lst = [1,2,3,4]
print(lst)

[1, 2, 3, 4]

In [18]:
lst[0] = 10
print(lst)

[10, 2, 3, 4]

In [19]:
my_tuple = ()
print(my_tuple)

()

In [23]:
single_ele_tuple = (12,)
single_ele_tuple

(12,)

In [24]:
type(single_ele_tuple)

tuple

In [22]:
type(my_tuple)

tuple

In [25]:
multi_ele_tuple = (1,2,3)
print(multi_ele_tuple)

(1, 2, 3)

In [74]:
my_tuple = 1,2,3,4

my_tuple

(1, 2, 3, 4)

In [28]:
# Accessing Tuple Element

my_tuple = (1,2,3,'a','hello', True,2.32)
print(f"my tuple : {my_tuple}")

my tuple : (1, 2, 3, 'a', 'hello', True, 2.32)

In [29]:
my_tuple[0]

1

In [30]:
my_tuple[1]

2

In [31]:
my_tuple[-1]

2.32

In [32]:
my_tuple[1:4]

(2, 3, 'a')

In [33]:
# Tuple Operations

t1 = (1,2,3)
t2 = ('a', 'b', 'c')

# concatenation

combined_tuple = t1 + t2
print("concatenated tuple:", combined_tuple)

concatenated tuple: (1, 2, 3, 'a', 'b', 'c')

In [63]:
# repetition
repeated_tuple = t1 * 3
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [64]:
# membership
2 in t1

True

In [65]:
200 in t1

False

In [66]:
# tuple methods
my_tuple = (1,2,3,2,4,2)
my_tuple.count(2)

3

In [67]:
my_tuple.index(3)

2

In [68]:
# Immutability of Tuples
my_tuple = (1,2,3)
my_tuple[0] = 100

TypeError: 'tuple' object does not support item assignment